body,
html {
    height: 100%;
    margin: 0;
    background: rgba(16,19,34,255)  !important;
    /* flex-wrap: wrap; */
    /* background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
    /* background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
}

.card {
    /* height: 100%; */
    /* border-radius: 15px !important; */
    background-color: rgba(16,19,34,255)  !important;
    color: white;
}

#calendar {
    color: rgba(16,19,34,255)  !important;
}

.btn {
    color: #232733;
    background-color: white;
}

select {
    color: #232733;
    background-color: white;
    border: solid 7px white;
    border-radius: 5%;
}






